@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
body {font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #1D3557;
    --secondary-color: #A8DADC;
    --accent1-color: #96bfc6;
    --accent2-color: #1D3557; 

    --heading-font: '', serif;
    --paragraph-font: '', serif;

    --nav-background-color: #96bfc6;
    --nav-link-color: #457B9D;
    --nav-hover-link-color: #A8DADC;
    --nav-hover-background-color: #1D3557;
}
body {
    f_______: var(--paragraph-font)
    m_______: _______;
    p_______: _______;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    fant-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a: link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}